.mapPage{
    width: 100vw;
    height: 100vh;
    position: fixed;
}

.filterMenuContainerDiv{
    top: 0;
    right: 0;
    width: 100%;
    position: absolute;
    display: flex;
}

.filterMenuContainer{
    background-color: rgba(255, 255, 255, 0.7);
    width: 100%;
    margin: 0.5rem;
    border-radius: 1rem;
    position: relative;
    flex: 1;

}

.showFilterMenuButton{
    right: 0;
    top: 0;
    position: absolute;
    width: 2.5rem;
    height: 2.5rem;
    background-color: #56756D;
    border: none;
    border-radius: 2rem;
    color: white;
}

.filterMenu{
    display: none;
}

.filterMenu button{
    text-transform: uppercase;
    margin: 0.5rem;
    padding: 0.8rem;
    color: #333333;
    font-size: 1rem;
    background-color: transparent;
    border: none;
}

.placeholderBtn{
    background-color: transparent !important;
    border: none !important;
}

.placeholderBtn img{
    width: 2rem;
    height: 2rem;
}