h1, h2, h3, h4, h5, p{
  margin: 0;

}

.menuContainer{
  background-color: transparent;
  width: 100vw;
  height: 8vh;
  z-index: 5;
  position: fixed;
  bottom: 0;
}

.menu {
  display: flex;
}

.menu a{
  flex: 1;
  text-transform: uppercase;
  color: black;
  text-align: center;
  padding: 1.25rem;
  text-decoration: none;
  border-radius: 1rem;
}

.menu a:hover{
  background-color: #56756D;
  color: white;
  font-weight: 700;
}